// Variables para reutilización
$primary-color: var(--primary-color-light);
$text-dark: var(--text-color-dark);

// Mixins para reutilizar estilos
@mixin responsive-padding ($sides: '') {
  @media (min-width: 540px) {
    padding#{$sides}: 0 2rem;
  }

  @media (min-width: 768px) {
    padding#{$sides}: 0 4rem;
  }
}

// -----------------------------------------------------
// COMPONENTE DE FILTROS Y ORDENACIÓN
// -----------------------------------------------------

// & Filtros y Ordenar
.gallery-selects {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: fit-content;
  padding: 5rem 0;

  background-color: $text-dark;
  opacity: 1;

  transition: 0.5s ease-out;

  @media (min-width: 540px) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8rem 2rem;
  }

  @media (min-width: 768px) {
    padding: 8rem 4rem;
  }

  @media (min-width: 1900px) {
    border-radius: 2rem;
  }

  // Estado colapsado - cuando está activa la clase 'active'
  &.active {
    height: 0;
    padding: 0;

    overflow: hidden;
    opacity: 0;

    @include responsive-padding();
  }

  // $ Item
  > div {
    @media (min-width: 540px) {
      flex-basis: calc(50% - 1rem);

      margin-right: 2rem;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @media (min-width: 768px) {
      flex-basis: calc(33% - 2rem);

      margin-right: 2rem !important;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    @media (min-width: 1440px) {
      flex-basis: calc(25% - 2rem);

      margin-right: 2rem !important;

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }

  label {
    display: block;

    font-weight: 500;
    color: $primary-color;

    user-select: none;
  }
}
