<!-- # FILTROS Y ORDENAMIENTOS -->
<div
  class="gallery-selects"
  [ngClass]="{ 'active' : !activeSections() }"
  role="group"
  aria-label="Filtros disponibles"
>
  <!-- $ ITEMS -->
  @for (filterKey of filterKeys(); track trackByFilterKey($index, filterKey)) {
    <div class="gallery-selects_item">
      <label [for]="filterKey" [id]="filterKey + '-label'">
        {{ typeOption()[filterKey].name || filterKey }}
      </label>

      <home-shared-select
        [filterKey]="filterKey"
        [filterKeys]="filterKeys()"
        [typeOption]="typeOption()"
        [index]="$index"
        (filters_orders)="optionSelect(filterKey, $event)"
      >
      </home-shared-select>
    </div>
  }
</div>
