<!-- # FOOTER -->
<footer class="footer" role="contentinfo">
  <div class="footer-container max-width">

    <!-- $ SECCIÓN SUPERIOR -->
    <div class="footer-top">
      <!-- & Redes sociales -->
      <div class="footer-top_socials" aria-label="Redes sociales">
        @for(social of socialLinks(); track social.key) {
          <a
            [href]="social.url"
            target="_blank"
            [attr.aria-label]="social.label"
          >
            <fa-icon [icon]="socialIcons[social.key]"></fa-icon>
          </a>
        }

        <a
          class="theme"
          (click)="toggleTheme()"
          [attr.aria-label]="'Cambiar tema' + (isDarkTheme() ? 'claro' : 'oscuro')"
        >
          <fa-icon [icon]="currentThemeIcon()"></fa-icon>
        </a>
      </div>

      <!-- & Logo -->
      <a class="footer-top_logo" routerLink="/" aria-label="Ir al inicio de W&W List">
        <h1>W&W List</h1>
      </a>

      <!-- & Tecnologías -->
      <nav class="footer-top_languages" aria-label="Tecnologías utilizadas">
        @for (tech of techLinks(); track tech.key) {
          <a
            href="#"
            [attr.aria-label]="tech.label"
          >
            <fa-icon [icon]="techIcons[tech.key]"></fa-icon>
          </a>
        }
      </nav>
    </div>

    <!-- $ NAVEGACIÓN PRINCIPAL -->
    <nav class="footer-middle" aria-label="Navegación principal">
      @for (navigation of navigationLinks(); track navigation.route) {
        <a [routerLink]="navigation.route" [attr.aria-label]="'Ir a' +  navigation.label">
          {{ navigation.label }}
        </a>
      }
    </nav>

    <!-- $ COPYRIGHT -->
    <p>W%W List &copy; {{ year }}. Todos los derechos reservados</p><!-- & Copyright -->
  </div>
</footer>
