// # Footer
.footer {
  padding: 1rem 1.5rem;
  -webkit-box-shadow: 0px -12px 12px -4px rgba(0,0,0,0.06);
  -moz-box-shadow: 0px -12px 12px -4px rgba(0,0,0,0.06);
  box-shadow: 0px 12px -12px -4px rgba(0,0,0,0.06);

  background-color: var(--body-background-light);

  a {
    margin-right: 2rem;

    color: var(--primary-color-light);

    &:last-child {
      margin-right: 0;
    }
  }

  // Contenedor
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  // & Top
  .footer-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin: 2rem 0 4rem;
    padding: 0 5rem;

    @media (min-width: 600px) {
      flex-direction: row;
    }

    .footer-top_logo {
      text-align: center;
      margin: 2rem 0;
    }

    fa-icon {
      font-size: 3.2rem;
    }
  }

  // & Enlaces
  .footer-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 2rem 0 3rem;
    border-top: 2px dashed var(--primary-color-light);

    @media (min-width: 412px) {
      flex-direction: row;
    }

    a {
      margin: 0;

      @media (min-width: 412px) {
        margin-right: 2rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  // & Copyright
  p {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;

    color: var(--text-color-dark);
    text-align: center;

    background-color: var(--primary-color-light);
  }
}
