<article class="skeleton-card" aria-hidden="true">
  <!-- Imagen -->
  <div class="skeleton-card_img">
    <shared-skeleton-base
      [height]="'100%'"
      [borderRadius]="'8px 8px 0 0'"
    ></shared-skeleton-base>

    <!-- Cabecera -->
    <div class="skeleton-card_header">
      <shared-skeleton-base
        [height]="'1.8rem'"
        [width]="'100%'"
        [borderRadius]="'8px'"
      ></shared-skeleton-base>

      <shared-skeleton-base
        [height]="'1.8rem'"
        [width]="'100%'"
        [borderRadius]="'8px'"
      ></shared-skeleton-base>
    </div>

    <!-- Pie de tarjeta-->
    <div class="skeleton-card_footer">
      <!-- Título -->
      <shared-skeleton-base
        [height]="'2.4rem'"
        [width]="'100%'"
        [margin]="'0 0 10px 0'"
      ></shared-skeleton-base>

      <!-- Categoría y subcategoría -->
      <div class="skeleton-card_meta">
        <shared-skeleton-base
          [height]="'1.8rem'"
          [width]="'100%'"
        ></shared-skeleton-base>

        <shared-skeleton-base
          [height]="'1.8rem'"
          [width]="'50%'"
        ></shared-skeleton-base>

        <shared-skeleton-base
          [height]="'1.8rem'"
          [width]="'100%'"
        ></shared-skeleton-base>
      </div>

      <!-- Plataforma -->
      <div class="skeleton-card_platform">
        <shared-skeleton-base
          [height]="'1.6rem'"
          [width]="'9rem'"
        ></shared-skeleton-base>
      </div>
    </div>
  </div>
</article><!-- Tarjeta -->
