// -----------------------------------------------------
// # COMPONENTE SELECT PERSONALIZADO
// -----------------------------------------------------
.select {
  position: relative;

  margin: 1rem 0;
  border-radius: var(--border-radius-sm);

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);

  transition: box-shadow var(--transition-normal);

  &:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
  }

  &.active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);

    input {
      border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
    }

    .select-input fa-icon {
      transform: rotate(180deg);
    }

    .select-options {
      max-height: 25rem;
      padding: 1rem;
      overflow-y: auto;

      opacity: 1;

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-track {
        background: #eeeeee;
      }

      &::-webkit-scrollbar-thumb {
        background: var(--primary-color-light);

        transition: background 0.3s ease;

        &:hover {
          background: #0e4a9c;
        }
      }
    }
  }

  &:not(.active) {
    .select-options {
      max-height: 0;
      padding: 0 1rem;

      opacity: 0;
    }
  }

  // $ INPUT
  &-input {
    position: relative;

    input {
      width: 100%;
      border: 1px solid #CCCCCC !important;

      color: var(--primary-color-light);

      background: linear-gradient(to bottom, #FFFFFF, #F7F7F7);

      transition: 0.5s ease;

      cursor: pointer;

      &.empty {
        color: #999 !important;
      }

      &:focus {
        outline: none;
        border-color: var(--primary-color-light) !important;
      }
    }

    fa-icon {
      position: absolute;
      right: 5%;
      top: 22%;

      color: var(--primary-color-light);

      transform: rotate(0deg);
      transition: var(--transition-normal);

      cursor: pointer;
    }
  }

  // $ OPCIONES
  &-options {
    position: absolute;
    z-index: var(--i);

    width: 100%;
    max-height: 0;
    padding: 0 1rem;
    border-radius: 0 0 var(--border-radius-sm) var(--border-radius-sm);
    border: 1px solid var(--input-border-light);
    border-top: none;
    overflow: hidden;

    background: linear-gradient(to bottom, #FFFFFF, #F7F7F7);
    opacity: 0;

    transition: max-height 0.4s ease-in-out,
                opacity 0.3s ease-in-out,
                padding 0.3s ease-in-out;

    // & Opción y Agregar opciones
    > div {
      margin-top: 0.4rem;
      padding: 1rem;
      border-radius: var(--border-radius-sm);

      transition: background-color var(--transition-normal),
                  color var(--transition-normal);

      cursor: pointer;

      &:hover {
        background-color: #eeeeee;
      }

      &[aria-selected='true'] {
        background-color: #eeeeee;
        font-weight: 500;
      }
    }

    // % Estrellas
    &_stars {
      fa-icon {
        margin-right: 2px;

        font-size: 1.4rem;

        &.star-filled {
          color: var(--primary-color-light);
        }

        &.star-empty {
          color: #cccccc;
        }
      }
    }
  }
}

// -----------------------------------------------------
// & Agregar Opciones
// -----------------------------------------------------
.addOption {
  position: relative;

  input {
    border-radius: var(--border-radius-sm) !important;
  }

  // % Botones de acciones
  .addOption_actions {
    position: absolute;
    top: 0;
    right: 20px;

    display: flex;

    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    height: 6.2rem;

    button {
      display: flex;

      justify-content: center;
      align-items: center;

      width: 3rem;
      height: 3rem;

      transition: transform var(--transition-normal);

      &:hover {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);

        transform: scale(1.2);
      }

      fa-icon {
        display: flex;

        align-items: center;
        justify-content: center;
      }
    }
  }
}
