@use 'assets/scss/dark-theme' as *;

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Lilita+One&family=Poppins:wght@300;400;500;600;700&display=swap');

// CDK
@import '@angular/cdk/overlay-prebuilt.css';

// Variables
$white: #FFFFFF;
$off-white: #F5F5F5;
$light-gray: #F0F0F0;
$medium-gray: #DEDEDE;
$dark-gray: #B0B0B0;
$darker-gray: #666666;
$darkest-gray: #333333;
$very-dark-blue: #1C1F36;
$primary-blue: #1562CA;
$dark-blue: #2753A0;
$delete-red: #FF4C4C;
$delete-dark-red: #CF2E2E;
$confirm-green: #00CC44;
$confirm-dark-green: #009933;

:root {
  // Font Family
  --principal-font: "Poppins", serif;
  --secondary-font: "Bungee", serif;
  --tertiary-font: "Lilita One", serif;

  // Font Weight
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  // Border Radii
  --border-radius-sm: 0.5rem;
  --border-radius-md: 0.6rem;
  --border-radius-lg: 1rem;

  // Border Widths
  --border-width-thin: 0.6px;
  --border-width-regular: 1px;
  --border-width-thick: 2px;

  // Transition Timings
  --transition-fast: 0.3s ease;
  --transition-normal: 0.5s ease;
  --transition-slow: 0.7s ease;

  // Shadows
  --shadow-sm: 0px 1px 3px rgba(0, 0, 0, 0.08);
  --shadow-md: 0px 4px 12px -2px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0px 12px 12px -4px rgba(0, 0, 0, 0.06);

  // Colores para texto
  --text-color-light: #{$very-dark-blue};
  --text-color-dark: #{$off-white};

  // Modo Claro
  --primary-color-light: #{$primary-blue};
  --primary-color-darkened-light: #{$dark-blue};
  --body-background-light: #{$white};
  --header-background-light: #{$off-white};
  --header-background-darkered-light: #{$very-dark-blue};

  // Backgrounds con gradiente
  --background-gradient-light: linear-gradient(to bottom, #{$white}, #{$off-white});

  // Colores Adicionales
  --delete-color: #{$delete-red};
  --delete-color-hover: #{$delete-dark-red};
  --confirm-color: #{$confirm-green};
  --confirm-color-hover: #{$confirm-dark-green};
  --default-color-light: #{$medium-gray}; // Modo Claro
  --default-color-light-hover: #c5c5c5;
  --default-color-dark: #{$darker-gray}; // Modo Oscuro
  --default-color-dark-hover: #4F4F4F;

  // Inputs
  --input-background-light: #{$light-gray}; // Modo Claro
  --input-border-light: #{$dark-gray}; // Modo Claro

  // Modal
  --wwlist-modal-backdrop: rgba(0, 0, 0, 0.8);
  --wwlist-modal-border-radius: 1rem;
  --wwlist-modal-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: var(--principal-font);
  background-color: var(--body-background-light);
  color: var(--primary-color-light);
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

// -------------- Global --------------
h1, h2, h3, h4, h5, p, ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.7rem;
  font-family: var(--tertiary-font);
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.min-width {
  min-width: 28rem;
}

.max-width {
  max-width: 190rem;
  margin: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.none {
  outline: none;
  border: none;
}

.header-shadow {
  box-shadow: var(--shadow-md);
}

.btn {
  padding: 0.75rem 1rem;
  border-radius: var(--border-radius-sm);
  border: var(--border-width-regular) solid transparent;

  font-size: 1.6rem;
  text-align: center;

  cursor: pointer;

  transition: var(--transition-normal);
}

.btn-default {
  background-color: var(--default-color-light);

  &:hover {
    background-color: var(--default-color-light-hover);
  }
}

.btn-default-light {
  background-color: var(--text-color-dark);
  color: var(--primary-color-light);

  &:hover {
    background-color: rgba(243, 243, 243, 0.8);
  }
}

.btn-primary {
  background-color: var(--primary-color-light);
  color: var(--text-color-dark);

  &:hover {
    background-color: var(--primary-color-darkened-light);
  }
}

.btn-primary-light {
  background-color: var(--text-color-dark);
  border-color: var(--primary-color-light);
  color: var(--primary-color-light);

  &:hover {
    background-color: var(--primary-color-light);
    color: var(--text-color-dark);
  }
}

.btn-warn {
  background-color: var(--delete-color);
  color: var(--text-color-dark);

  &:hover {
    background-color: var(--delete-color-hover);
  }
}

.btn-warn-light {
  background-color: var(--text-color-dark);
  border-color: var(--delete-color);
  color: var(--delete-color);

  &:hover {
    background-color: var(--delete-color);
    color: var(--text-color-dark);
  }
}

.btn-confirm {
  background-color: var(--confirm-color);
  color: var(--text-color-dark);

  &:hover {
    background-color: var(--confirm-color-hover);
  }
}

.input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: var(--border-width-thin) solid var(--input-border-light);
  border-radius: var(--border-radius-sm);

  font-family: var(--principal-font);
  font-size: 1.6rem;
  color: var(--primary-color-light);

  background-color: var(--input-background-light);

  &::placeholder {
    color: var(--input-border-light);
  }
}

// ====================
// Clases Globales - Modal Cdk
// ======================
.wwlist-modal-backdrop {
  background: var(--wwlist-modal-backdrop) !important;
  backdrop-filter: blur(4px);

  animation: backdropFadeIn 0.3s ease-out;
}

@keyframes backdropFadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.wwlist-modal-panel {
  max-width: 82rem !important;
  width: 100vw !important;
  height: 100vh !important;

  animation: modalSlideIn 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  @media (min-width: 768px) {
    max-height: 90vh !important;
    height: fit-content !important;
    margin: auto !important;
  }
}

@keyframes modalSlideIn {
  from {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
  } to {
    opacity: 1;
    transform: translateY(0) sclae(1);
  }
}
