<!-- # TARJETA -->
<div
  #cardElement
  class="gallery-card"
  [class.gallery-card-disabled]="isDisabled()"
  (mousemove)="onMouseMove($event)"
  (mouseleave)="onMouseLeave()"
  tabindex="0"
  [attr.aria-label]="'Tarjeta de ' + cardData()?.name"
  [attr.aria-describedby]="'Tarjeta de ' + cardData()?.name + ' en ' + cardData()?.platform"
>
  <!-- $ CONTENIDO DE LA TARJETA -->
  <div class="gallery-card_content">
    <!-- & Card header -->
    <header class="gallery-card_header">
      <!-- % Estado-->
      <div
        class="gallery-card_state"
        [ngClass]="stateInfo().class"
        [attr.aria-label]="'Estado: ' + stateInfo().text"
      >
        {{ stateInfo().text }}
      </div>

      <!-- % Puntuación -->
      <div
        class="gallery-card_score"
        [attr.aria-label]="'Puntuación: ' + cardData()?.rating + ' estrellas'"
      >
        <span>{{ cardData()?.rating }}</span>
        <fa-icon [icon]="faStar"></fa-icon>
      </div>
    </header>

    <!-- & Imagen -->
    <figure class="gallery-card_image">
      @if (hasOptimizedImages()) {
        <!-- % Si tiene imágenes optimizadas (No Base64) -->
        <picture>
          <source [srcset]="cardData()!.imageFormats!.avif" type="image/avif">
          <source [srcset]="cardData()!.imageFormats!.webp" type="image/webp">
          <img
            [ngSrc]="cardData()!.imageFormats!.jpg"
            [alt]="'Imagen de ' + cardData()?.name"
            fill
            loading="lazy"
          >
        </picture>
      } @else {
        <img
          [src]="cardData()!.imageUrl"
          [alt]="'Imagen de ' + cardData()?.name"
          fill
          loading="lazy"
        >
      }
    </figure>

    <!-- & Card Footer -->
    <footer class="gallery-card_footer">
      <!-- % Mombre usando pipe slice -->
      <div class="gallery-card_name">
        <span [title]="cardData()?.name">{{ displayName() }}</span>
      </div>

      <!-- % Categoria y Subcategoría -->
      <div class="gallery-card_categories">
        {{ cardData()?.category }} - {{ cardData()?.subcategory }}
      </div>

      <!-- % Plataforma -->
      <div class="gallery-card_platform">
        {{ cardData()?.platform }}
      </div>
    </footer>
  </div>
</div>
